.book-container {
  height: 100%;
  width: 100%;
  align-items: center;
  position: fixed;
  bottom: 0;
  justify-content: center;
  z-index: 3;
}

.background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.click-zone {
  width: 140px;
  height: 60px;
  position: absolute;
  top: 76%;
  left: 35%;
  z-index: 100;
}
.glow {
  filter: drop-shadow(0 0 6px #0f0) drop-shadow(0 0 12px #0f0)
    drop-shadow(0 0 20px #0f0);
  cursor: pointer;
}

#book {
  position: relative;
  perspective: 1000px;
  margin-left: 300px;
  width: 300px;
  height: 400px;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  font-weight: bold;
}

.page {
  position: absolute;
  z-index: 0;
  width: 300px;
  height: 400px;
  transform-style: preserve-3d;
  cursor: pointer;
}

.image {
  position: absolute;
  width: 300px;
  height: 400px;
  backface-visibility: hidden;
  background-position: center;
  background-repeat: no-repeat;

  /* choisis l’un des deux : */

  /* 1) l’image remplit entièrement la page (peut être un peu recadrée) */
  background-size: cover;

  /* 2) ou l’image est entièrement visible, avec éventuellement des bandes */
  /* background-size: contain; */
}

.image1 {
  background-image: url("../img/couverturejournal.png");
}

.image2 {
  background-image: url("../img/page1.png");
}

.image3 {
  background-image: url("../img/page2.png");
}

.image4 {
  background-image: url("../img/page3.png");
}

#end {
  position: absolute;
  inset: 0; /* occupe toute la page */
  background-image: url("../img/page4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* ou contain selon ton besoin */
  font-family: sans-serif;
}
.image.front {
  transform: rotateY(0deg);
}

.image.back {
  transform: rotateY(-180deg);
}
