body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

h1 {
  position: absolute;
  top: 20px;
  color: white;
}
input {
  padding: 10px 20px;
  font-size: 22px;
}

#playBtn {
  position: absolute;
  bottom: 35%;
  padding: 10px 20px;
  font-size: 22px;
}
.start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-typing {
  background-color: black;
  padding: 20px;
  font-size: 22px;
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 600px;
  color: white;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}

.text-content {
  flex: 1;
}

.triangle-icon {
  flex-shrink: 0;
}
.text-typing svg {
  overflow: visible;
}
