body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

h1 {
  position: absolute;
  top: 20px;
  color: white;
}
input {
  padding: 10px 20px;
  font-size: 22px;
  background-color: #000;

  border: 1px solid #fff;
}

#playBtn {
  position: absolute;
  bottom: 35%;
  padding: 10px 20px;
  font-size: 22px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 999px;
  z-index: 1;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3); /* halo léger */
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out,
    background-color 0.2s ease-out;
}

/* hover : le bouton se lève et la lumière augmente */
#playBtn:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6),
    0 0 40px rgba(255, 255, 255, 0.4);
  background-color: #111;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-typing {
  background-color: black;
  padding: 20px;
  font-size: 22px;
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 600px;
  color: white;
  height: 50px;
  border: 1px solid #fff;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}

.text-content {
  flex: 1;
}

.triangle-icon {
  flex-shrink: 0;
}
.text-typing svg {
  overflow: visible;
}

.background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.backgroundVideo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
