body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

h1 {
  position: absolute;
  top: 20px;
  color: white;
}
input {
  padding: 10px 20px;
  font-size: 22px;
}

#playBtn {
  position: absolute;
  bottom: 35%;
  padding: 10px 20px;
  font-size: 22px;
}
.start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-typing-start {
  background-color: black;
  font-size: 22px;
  position: absolute;
  bottom: 50px;
  display: flex;
  max-width: 600px;
  text-align: center;
  color: white;
  height: 50px;
  justify-content: center;
}
