body {
  margin: 0;
  min-height: 300vh;
  background: #0b0b0b !important;
  color: #fff;
  font-family: system-ui, sans-serif;
}

.lock-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lock {
  position: relative;
  width: 420px;
  height: 420px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.25);
}

.ticks {
  display: none;
}

.ticks span {
  position: absolute;
  width: 2px;
  height: 12px;
  background: rgba(255, 255, 255, 0.4);
  top: 6px;
  left: 50%;
  transform-origin: bottom center;
}

.center {
  position: absolute;
  inset: 35%;
  border-radius: 50%;
  background: #0b0b0b;
  border: 2px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  font-family: monospace;
  letter-spacing: 4px;
  z-index: 2;
}

canvas {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.input-wrapper {
  position: absolute;
  top: -100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #fff;
  background: #0b0b0b;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
#result {
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
}

#result.locked {
  color: red;
}

#result.unlocked {
  color: #0f0;
}
.enter {
  position: absolute;
  bottom: 50px;
  display:none;
}
.enter.visible {
    display: flex;
}