body {
  margin: 0;
  height: 100%;
  background: #0b0b0b !important;
  color: #fff;
  font-family: system-ui, sans-serif;
}

.bodycadena {
  min-height: 300vh !important;
  padding: 0;
}

.facade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 5;
}
.Cadena {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 6;
}



.lock {
  position: relative;
  width: 420px;
  height: 420px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.25);
}

.ticks {
  display: none;
}

.ticks span {
  position: absolute;
  width: 2px;
  height: 12px;
  background: rgba(255, 255, 255, 0.4);
  top: 6px;
  left: 50%;
  transform-origin: bottom center;
}

.center {
  position: absolute;
  inset: 35%;
  border-radius: 50%;
  background: #0b0b0b;
  border: 2px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  font-family: monospace;
  letter-spacing: 4px;
  z-index: 2;
}

canvas {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.input-wrapper {
  position: absolute;
  top: -100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #fff;
  background: #0b0b0b;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
#result {
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
}

#result.locked {
  color: red;
}

#result.unlocked {
  color: #0f0;
}
.enter {
  position: absolute;
  bottom: 50px;
  display: none;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 999px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3); /* halo léger */
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out,
    background-color 0.2s ease-out;
}

.enter.visible {
  display: flex;
}
/* hover : le bouton se lève et la lumière augmente */
.enter:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6),
    0 0 40px rgba(255, 255, 255, 0.4);
  background-color: #111;
}

.click-zone {
  position: absolute;
  width: 180px;
  height: 100px;
  top: 55%;
  left: 45%;
  z-index: 1100;
    cursor: pointer;

}

.glow {
  filter: drop-shadow(0 0 6px #0f0) drop-shadow(0 0 12px #0f0)
    drop-shadow(0 0 20px #0f0);
}



.porteMMI {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


.lock-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3) !important;


}