@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

.highlight-yellow {
  color: yellow;
  font-weight: 600;
}

#replayBtn,
#DonnerThe,
.bouton-style {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  z-index: 5;
  padding: 10px 15px;
  font-size: 22px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 999px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3); /* halo léger */
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out,
    background-color 0.2s ease-out;
}

/* hover : le bouton se lève et la lumière augmente */
#replayBtn:hover,
#DonnerThe:hover,
.bouton-style:hover {
  transform: translateX(-50%) translateY(-5px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6),
    0 0 40px rgba(255, 255, 255, 0.4);
  background-color: #111;
}

.autor {
  margin-top: 0;
  white-space: nowrap; 
}

.text-typing {
  width: 680px;
  background-color: black;
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  height: fit-content;
  border: 1px solid #fff;
  border-radius: 8px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}

.text-typing-merci {
  background-color: black;
  display: none;
  padding: 20px;
  font-size: 22px;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 600px;
  color: white;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  z-index: 997;
}

.dubois-tasse {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}
