@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

.highlight-yellow {
  color: yellow;
  font-weight: 600;
}

#replayBtn,
.bouton-style {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 999px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3); /* halo léger */
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out,
    background-color 0.2s ease-out;
}

/* hover : le bouton se lève et la lumière augmente */
#replayBtn:hover,
.bouton-style:hover {
  transform: translateX(-50%) translateY(-5px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6),
    0 0 40px rgba(255, 255, 255, 0.4);
  background-color: #111;
}

.autor {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  text-align: center;
}

.text-typing {
  width: 680px;
  padding: 20px 0px;
}

.text-typing-merci {
  background-color: black;
  padding: 20px;
  font-size: 22px;
  display: flex;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 600px;
  color: white;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  z-index: 997;
}
